.navbar-blue {
	background-color: #1a237e;
}

.navbar-nav .nav-link {
	color: white !important;
	font-weight: bold;
}

.bg-blue {
	background-color: blue;
	color: white;
	/* Pour rendre le texte blanc et plus lisible */
}

.thead-blue {
	background-color: #1a237e;
	/* Couleur bleue */
	color: white;
	/* Couleur du texte */
}

.nav-link.active {
	background-color: rgb(212, 212, 212);
	/* Couleur de surbrillance pour l'élément actif */
	color: #FFFFFF;
	/* Couleur du texte de l'élément actif */
}

*.icon-white {
	color: white
}

*.icon-silver {
	color: silver
}

*.icon-green {
	color: green
}

*.icon-dark {
	color: gray
}